#home {
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 80px);
  padding: 0 80px;
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
}

@media (min-width: 992px) {
  #home {
    height: calc(100vh - 130px);
  }
}

#home .container .location {
  background-color: #fff;
  width: fit-content;
  margin-bottom: 15px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 12px;
  color: var(--thirdColor);
}

#home .container .location span {
  color: var(--mainColor);
}

#home .container h1 {
  text-transform: uppercase;
  line-height: 1.3;
  color: #fff;
  font-size: 50px;
}

#home .right-btn,
#home .left-btn {
  background-color: var(--transparent);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 50px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#home .right-btn {
  right: 50px;
}

#home .left-btn {
  left: 50px;
}

#home .right-btn:hover,
#home .left-btn:hover {
  background-color: var(--transparentHover);
}

#home .bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#home .bullets span {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

#home .bullets span.active,
#home .bullets span:hover {
  background-color: var(--mainColor);
}
