#video {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

#video .image-holder {
  width: 100%;
  position: relative;
  z-index: 1;
}

#video .image-holder:after {
  content: "";
  background-color: #1414143f;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

#video .image-holder img {
  width: 100%;
  height: 500px;
  filter: blur(2px);
  -webkit-filter: blur(1px);
}

#video .image-holder .header {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 100;
  text-align: center;
}

#video .image-holder .header .title {
  margin-bottom: 15px;
  font-weight: 600;
  color: var(--mainColor);
}

#video .image-holder .header h2 {
  color: #fff;
  font-size: 30px;
}

#video .container {
  position: relative;
  z-index: 100;
}

#video .container .frame-holder {
  margin-top: -210px;
  text-align: center;
  position: relative;
}

#video .container .frame-holder img {
  width: 320px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (min-width: 375px) {
  #video .container .frame-holder {
    margin-top: -210px;
  }
  #video .container .frame-holder img {
    width: 350px;
  }
}

@media (min-width: 768px) {
  #video .container .frame-holder {
    margin-top: -280px;
  }
  #video .container .frame-holder img {
    width: 600px;
  }
}

@media (min-width: 992px) {
  #video .container .frame-holder {
    margin-top: -200px;
  }
  #video .container .frame-holder img {
    width: 850px;
  }
}

#video .container .frame-holder .icon {
  width: 65px;
  height: 65px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #ef3c0642;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 25px;
  color: var(--mainColor);
  overflow: hidden;
}

#video .container .frame-holder .icon svg {
  background-color: #fff;
  padding: 18px;
}

#video .container ul {
  margin: 75px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 992px) {
  #video .container ul {
    flex-direction: row;
  }
}

#video .container ul li {
  background-color: var(--mainTransparent);
  width: 250px;
  padding: 15px 35px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}

#video .container ul li p.number {
  color: var(--mainColor);
  font-weight: bold;
  font-size: 35px;
}

#video .container ul li p.text {
  font-weight: 600;
  color: var(--thirdColor);
}

#video .container ul li span {
  background-color: var(--mainColor);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: -25px;
  right: -25px;
}
